#product
CONFIG_PRODUCT_REG_COUNT=256
#boardlink
CONFIG_BOARDLINK_COUNT=1
CONFIG_BOARDLINK_REG_COUNT=256
#board
CONFIG_BOARD_COUNT=2
CONFIG_BOARD_REG_COUNT=256
#chiplink
CONFIG_CHIPLINK_COUNT=1
CONFIG_CHIPLINK_REG_COUNT=256
#chip
CONFIG_CHIP_COUNT=2
CONFIG_CHIP_REG_COUNT=256
#ddr
CONFIG_DDR_COUNT=2
CONFIG_DDR_REG_COUNT=256
CONFIG_DDR0_SIZE=1073741824
CONFIG_DDR1_SIZE=1073741824
#fifo
CONFIG_FIFO_COUNT=2
CONFIG_FIFO_REG_COUNT=256
CONFIG_FIFO0_SIZE=131072
CONFIG_FIFO1_SIZE=131072
#pcie
CONFIG_PCIE_COUNT=4
CONFIG_PCIE_REG_COUNT=256
#main cpu
CONFIG_MAINCPU_COUNT=1
CONFIG_MAINCPU_REG_COUNT=256
#noc
CONFIG_NOC_COUNT=1
CONFIG_NOC_REG_COUNT=256
#core
CONFIG_CORE_COUNT=1024
CONFIG_CORE_REG_COUNT=256
#mcu
CONFIG_MCU_COUNT=1
CONFIG_MCU_REG_COUNT=1
#ncp
CONFIG_NCP_COUNT=1
CONFIG_NCP_REG_COUNT=1
#tcp
CONFIG_TCP_COUNT=1
CONFIG_TCP_REG_COUNT=1
#ram
CONFIG_RAM_COUNT=5
CONFIG_RAM_REG_COUNT=5
CONFIG_RAM0_SIZE=262144
CONFIG_RAM1_SIZE=32768
CONFIG_RAM2_SIZE=32768
CONFIG_RAM3_SIZE=131072
CONFIG_RAM4_SIZE=131072
